.profiledownbox{
    display:flex;
    cursor:pointer;
    flex-direction: column;
    position:absolute;
    top:3.7rem;
    right:8rem;
    width:90px;
    padding:15px 15px;
    border-radius:15px;
    border: 1px solid #d3d3d3;
    z-index:2000;
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(120deg,
                                        rgba(255,255,255,0.6),
                                        rgba(0,0,0,0.2));
}
.profiledownbox::before{
    content:'';
    position:absolute;
    top:-0.7rem;
    right:1.5rem;
    width:20px;
    height:20px;
    transform: rotate(45deg);
    border-left:1px solid #bdbdbd;
    border-top:1px solid #bdbdbd;
    background-color: #e4e3e5;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(120deg,
                                        rgba(173, 172, 172, 0.6),
                                       );
}
.profileul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:8px;
    align-items:center;
}
#settings{
    border-bottom: 1px solid rgb(80, 81, 84);
    padding-bottom:6px;
    border-radius:0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
li{
    color: hsl(265, 87%, 15%);
    margin-top:none;
    cursor:pointer;
    font-weight: 350;
    padding:3px 6px;
    border-radius:5px;
}
li:hover{
    color: rgba(15, 113, 194, 0.85);
}