.x {
    background-color: white;
    width: 100%;
    display: flex;
    top: 0;
    z-index: 100;
    margin: 0;
    padding: 20px 15px;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.15),
        0 8px 30px rgba(0, 0, 0, 0.2);
    position: fixed;
}

.name {
    font-weight: 700;
}

.button {
    height: 30px;
    border: none;
    margin-right: 1rem;
    background-color: white;
    padding-right: 20px;
}

.usericon, .post, .dots {
    height: 1rem;
    filter: invert(36%) sepia(57%) saturate(1082%) hue-rotate(220deg) brightness(91%) contrast(85%);
    border: none;
    cursor: pointer;
}

.options {
    display: flex;
    position: fixed;
    right: 10px;
    
}

.wrapper {
    position: relative;

}
.dropdownprofile,.dropdownpost,.dropdowndots{
    display:flex;
    cursor:pointer;
    flex-direction: column;
    position:absolute;
    font-size:0.8rem;
    white-space:nowrap;
    border-radius:15px;
    border: 1px solid #d3d3d3;
    z-index:2000;
    background-color: whitesmoke;
}
.dropdownprofile{
    top:3rem;
    right:9rem;
    width:90px;
    padding:10px 10px;
    
}
.dropdownpost{
    right:6rem;
    top:3rem;
    width:90px;
    padding:15px 10px;
}
.dropdowndots{
    right:3rem;
    top:3rem;
    width:110px;
    
    padding:10px 10px;

}
.dropdownmenu::before{
    content:'';
    position:absolute;
    top:-0.7rem;
    right:1.5rem;
    z-index:1000;

    width:20px;
    height:20px;
    transform: rotate(45deg);
    border-left:1px solid #bdbdbd;
    border-top:1px solid #bdbdbd;
    
}
.dropdownmenu ul{
    white-space:nowrap;
    
}
.dropdownitem{
    padding-bottom:5px;
    margin-top:5px;
    border-bottom: 1px solid #d3d3d3;
}



