.x{
    background-color: white;
    width:100%;
    display:flex;
    top:0;
    z-index:100;
    margin:none;
    padding:20px 15px;
    flex-direction:row;
    justify-content:space-between;
    border:none;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.1),   
    0 6px 20px rgba(0, 0, 0, 0.15),  
    0 8px 30px rgba(0, 0, 0, 0.2);
    position:fixed;
    
}
.name{
    font-weight:700;
}
.button{
    height:30px;
    background-color: none;
    border:none;
    margin-right:1rem;
    background-color: white;
    padding-right:20px;
}
.usericon,.post,.dots{
    height:1rem;
    filter: invert(20%) sepia(100%) saturate(1901%) 
    hue-rotate(339deg) brightness(107%) contrast(87%);
    border:none;
    cursor:pointer;
}

