/*.postbtn {
    background-color: #6f58c9;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-top: 80px;
    margin-right: 15px;
  }
  .postbtn:hover {
    background-color: #5a47a9;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
  }
  .postbtn:active {
    background-color: #48389c;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(0px);
  }  
 */
 .postCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 300px;
  margin-top: 100px;
  margin-right: 15px;
  background: linear-gradient(135deg, #6f58c9, #a07bff);
  padding: 15px 20px;
  border-radius: 60%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}
.postCont:hover {
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  background: linear-gradient(135deg, #5a47a9, #8a5dff);
}
    
.postin {
  height: 40px;
  padding: 10px;
  border: none;
  width: 140px;
  font-family: "mulish", 'arial', 'sans-serif';
  font-weight: 600;
  font-style: oblique;
  color: #ffffff;
  background-color: transparent;
}
.postin::placeholder {
  color: whitesmoke;
  opacity: 1; 
}

.plusicon {
  padding-left: 10px;
  height: 1.5rem;
  filter: invert(100%);
  transition: transform 0.3s ease;
}
    
.postCont:hover .plusicon {
  transform: scale(1.2);
 }
    
.searchWrapper {
  position: relative;
  width: 70%;
  margin-left: 300px;
  margin-top: 95px;
  margin-right: 30px;
}

.inputContainer {
  position: relative;
}
.searchIcon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  aspect-ratio: 1/1;
  height: 18px;
  filter: invert(50%);
}
.searchBar {
  width: 100%;
  padding: 15px 25px 15px 45px;
  font-size: 1rem;
  font-family: 'mulish', 'arial';
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.searchBar:focus {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.searchBar:hover{
  border-radius: 30px;
}
.searchmotion {
  display: flex;
  justify-content: center;
  align-items: center;
}