.container{
    display: flex;
    flex-direction: column;
}
#cardBox{
    display:flex;
    flex-direction: column;
    margin-left:300px;
    padding: 20px 30px;
}
.CommunityPage{
    display:flex;
    flex-direction: column;
    margin-top:100px;
    margin-left:300px;
    margin-right:10px;
    gap:10px;
    min-height:150px;
    align-items:flex-start;
    border:1px solid #d3d3d3;
}
.commtitle{
    background-color: rgb(12,5,26);
    display: flex;
    width: 99.99%;
    padding:10px;
    cursor:default;
}
.commtitle h1{
    color: white;
}
.commdesc{
    padding:10px;
    cursor:default;
}