* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

#background {
    overflow-y: hidden;
    width: 100%;
    height: 101vh;
    background: linear-gradient(120deg, #6F58C9,white);
    background-repeat: no-repeat;
    background-size:cover;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:default;
    
}
#outer-box {
    width: 90%;
    height: 90%;
    display: flex;
    border-radius: 10px;
    background-color: transparent;
    flex-wrap: wrap;
    background:transparent;
}
#login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-size:30px;
    background-color: #f8f9fa;
    flex: 1;
    min-width: 350px;
    background-color: transparent;  
    backdrop-filter: blur(20px);
    background-image: linear-gradient(120deg,
                                        rgba(255, 255, 255, 0.6),
                                        hsla(0, 0%, 2%, 0.1));

}
#login-form {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
    gap:8px;
}
#image-box {
    width: 60%;
    height: 100%;
    display: flex;
    background: url(./assets/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
    justify-self: end;
    min-width: 300px;
}
#input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#heading {
    font-size: 3.2rem;
    margin-bottom: 15px;
    font-weight: 100;
    color: black;
}
#input-box code{
    margin-bottom:20px;
    color:dimgray;
}
#uname-input, #password-input {
    width: 300px;
    height: 40px;
    font-size: 0.8rem;
    margin-bottom: 30px;
    text-align: justify;
    font-weight: 600;
    color: hsl(0, 3%, 19%);
    font-style: oblique;
    font-family: "mulish", "arial", "sans-serif";
    padding: 1px 8px;
}
#password-box {
    display: flex;
}
#pwd-icon {
    width: 50px;
    height: 40px;
    border: 1px solid rgb(108, 105, 105);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon:hover {
    transform: scale3d(1.15, 1.15, 1.15);
}
.icon {
    font-size: 2rem;
    width: 50px;
    cursor: pointer;
    transition: transform 0.1s ease-in;
}
#password-input {
    width: 250px;
    margin-bottom: 10px;
}
#forgot-pwd {
    margin-top: 10px;
    width: 300px;
    color: black;
    font-style:oblique;
    font-size:0.8rem;
    font-weight:600;
    transition: color 0.15s ease-in;
}
#forgot-pwd:hover {
    color: aliceblue;
}
#username, #password {
    width: 300px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    font-style:oblique;
}
#signup-box {
    width: 100%;
    text-align: center;
}
#btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
#user-result {
    margin-top: 20px;
    white-space: nowrap;
    height: 20px;
    color: white;
    font-size:0.88rem;
    font-weight:600;
    font-style:italic;
    text-shadow:0 0 3px red;
}
#login-btn {
    background-color: white;
    font-size: 1.0rem;
    color: #6F58C9;
    border: 1px solid #6F58C9;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    transition: transform 0.15s ease-in-out,
                background-color 0.15s ease-in-out,
                color 0.15s ease-in-out,
                border 0.15s ease-in-out;
    
}
#login-btn:hover {
    transform: translateY(9px);
    background-color: black;
    color:white;
    border:1px solid black;
}
#signup-link {
    color: black;
    transition: background-color 0.15s ease-out;
    font-size: 0.8rem;
    font-weight:600;
    font-style:italic;
    text-decoration:underline;
    
}
input:focus {
    outline: none;
}
#signup-link:active {
    color: aliceblue;
}
#uname-input:focus-visible {
    border: 2px solid black;
    border-radius: 5px;
}
#password-input:focus-visible {
    border: 2px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
@media(max-width: 971px) {
    #image-box {
        display: none;
    }
    #outer-box{
        width:350px;
        height:560px;
    }

}