#background {
    overflow-y: hidden;
    width: 100%;
    background-color: rgb(45,45,45);
    background-size:cover;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor:default;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    padding: 20px;
    background-size: 10px;
    background-color: #f8f9fa;
    flex: 1;
    width: 350px;
    background-color: transparent;  
    backdrop-filter: blur(20px);
    background-image: linear-gradient(120deg,
                                        rgba(255, 255, 255, 0.8),
                                        hsla(0, 2%, 48%, 0.1));
    height: 540px;
    border-radius: 5px;
    padding-bottom: 30px;
}
#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-evenly;
}
#input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#heading {
    font-size: 3.2rem;
    margin-bottom: 35px;
    font-weight: 100;
    color: black;
}
#input-box code{
    margin-top: none;
    margin-bottom: 50px;
    color:dimgray;
    font-weight: 800;
    text-align: center;
}
#uname-input, #password-input {
    width: 300px;
    height: 40px;
    font-size: 0.9rem;
    margin-bottom: 30px;
    font-weight: 700;
    color: black;
    font-style: oblique;
    font-family: "mulish", "arial", "sans-serif";
    padding: 1px 8px;
    border:none;
    border-bottom: 1px solid black;
    background-color: transparent;
    transition: transform 0.15s ease-in-out, border 0.15s ease-in-out;
    cursor: default;
}
#password-box {
    display: flex;
}
#pwd-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-left: 5px;
}
.icon:hover {
    transform: scale3d(1.15, 1.15, 1.15);
}
.icon {
    font-size: 2rem;
    width: 30px;
    cursor: pointer;
    transition: transform 0.1s ease-in;
}
#password-input {
    width: 263px;
    margin-bottom: 10px;
}
#forgot-pwd {
    margin-top: 10px;
    color: black;
    margin-left:160px;
    font-style:oblique;
    font-size:0.8rem;
    font-weight:600;
    transition: color 0.15s ease-in;
}
#forgot-pwd:hover {
    color: antiquewhite;
}
#username, #password {
    width: 300px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    font-style:oblique;
    display: none;
}
#signup-box {
    width: 100%;
    text-align: center;
}
#btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
#user-result {
    margin-top: 30px;
    margin-bottom: 20px;
    white-space: nowrap;
    height: 20px;
    color: red;
    font-size:0.88rem;
    font-weight:600;
    font-style:italic;
    text-shadow:0 0 3px black;
}
#login-btn {
    background-color: black;
    font-size: 1.0rem;
    color: antiquewhite;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
    transition: transform 0.15s ease-in-out,
                background-color 0.2s ease-in-out,
                color 0.2s ease-in-out,
                border 0.2s ease-in-out;
}
#login-btn:hover {
    background-color: antiquewhite;
    color:black;
    border:1px solid black;
}
#signup-link {
    color: antiquewhite;
    transition: background-color 0.15s ease-out;
    font-size: 0.8rem;
    font-weight:600;
    font-style:italic;
    text-decoration:underline;
    margin-top:30px;
}
input:focus {
    outline: none;
}
#signup-link:active {
    color: red;
}
#uname-input:hover,
#password-input:hover
{
    transform: translateY(5px);
    border-bottom:1.5px solid black;
}
#uname-input::placeholder,
#password-input::placeholder{
    color:black;
    font-size: 0.8rem;
}
@media(max-width: 971px) {
    #image-box {
        display: none;
    }
    #outer-box{
        width:350px;
        height:560px;
    }
}
.authfooter {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35,35,35);
    backdrop-filter: blur(20px); 
    color: whitesmoke;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    border:none;
    margin-top:50px;
}

.footercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footercontent p {
    margin: 0;
    font-weight: 500;
    color:antiquewhite;
}
.socialicons hr{
}
.socialicons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    font-size:0.89rem;
}
.socialicons a {
    color: antiquewhite;
    font-weight: 300;
    text-decoration: none;
    transition: color 0.3s ease;
}

.socialicons a:hover {
    color: #da3238; 
}


