.post-body{
  display:flex;
  height:120vh;
  width:100vw;
  align-items:flex-start;
  justify-content: center;
  background-color: black;  
  backdrop-filter: blur(20px);
  background-image: linear-gradient(120deg,
                                      rgba(255, 255, 255, 0.6),
                                      hsla(0, 0%, 2%, 0.1));
  background-size:30px;
  overflow:hidden;
}
.create-post-container h2{
  margin-bottom:1.5rem;
  font-size:2rem;
  color: hsl(200, 4%, 14%);
}
.create-post-container {
    margin-top:100px;
    margin-right:30px;
    max-width: 1100px;
    padding: 20px 30px;
    border-radius: 5px;
    display:flex;  
    background-color: white;
    margin-left:30px;
    flex-direction:column;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%,0.24);
  }
  .form-group {
    margin-bottom: 25px;
    position: relative;
  }
  .title{
    font-weight:700;
    font-size:1.3rem;
    padding:15px 3px;
  } 
  .form-group input,
  .ql-container {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    font-family:'mulish','sans-serif',Arial, Helvetica, sans-serif;
  }
  .ql-container{
    font-weight:400;
  }
  .char-counter {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    color: gray;
  }
  .form-actions {
    display: flex;
    justify-content: center;
  }
  .post-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  
    background-color: black;
    color:white;
    transition:transform 0.15s ease-in;
  }
  .post-btn:hover {
    background-color: white;
    color: #6f58c9;
    border:1px solid #6f58c9;  
    transform:scale(1.1,1.1);
  }
  .post-btn:active {
    transform:translateY(5px);
  }
  .char-counter {
    transition: transform 0.15s ease-in-out, color 0.15s ease-in-out;
    position:absolute;
    padding-left:8px;
    padding-right:8px;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
    right:1.2px;
    top:1.5px;
    background-color:white;
  }
  .char-counter.vibrate {
    transform: scale(1.5);
    color:red;
  }

  
  