.create-post-container {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-top:80px;
  }
  h2 {
    text-align: center;
  }

  .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea,
  .ql-container {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  .char-counter {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    color: gray;
  }
 
  .form-actions {
    display: flex;
    justify-content: space-between;
  }
  .post {
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .post {
    background-color: #0079d3;
    color: #fff;
  }
  .post:hover {
    background-color: #005ea6;
  }
  