.post-body{
  display:flex;
  flex-direction: column;
  margin-top:80px;
  justify-content:center;
  align-items:flex-start;
  padding:10px 30px;
  
}
.post-body h2{
  margin-bottom:2rem;
  font-size:2rem;
  color: hsl(200, 4%, 14%);
}
.create-post-container {
    max-width: 1000px;
    padding: 20px;
    border-radius: 5px;
    display:flex;  
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%,0.24);
  }

 
  .form-group {
    margin-bottom: 25px;
    position: relative;
  
  }
  .title{
    font-weight:700;
    font-size:1.3rem;
    padding:15px 3px;
  } 
  .form-group input,
  .ql-container {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    font-family:'mulish','sans-serif',Arial, Helvetica, sans-serif;
  }
  .ql-container{
    font-weight:400;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  .char-counter {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    color: gray;
  }
 
  .form-actions {
    display: flex;
    justify-content: center;
  }
  .post {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color:#6f58c9;
    color: white;
    transition:transform 0.15s ease-in;

  }
  .post:hover {
    background-color: white;
    color:black;
    border:1px solid black;
    transform:scale(1.1,1.1);
  }
  .post:active {
    transform:translateY(5px);

  }
  