/* #da3238 - red
#d3d3d3-border-bottom
#6f58c9 - blue theme
*/
body{
    margin:0;
    padding:0;
}
.post-box{
    margin-left:300px;
    margin-top:20px;
    margin-right:17px;
}
.headersidebar{
    display:flex;
}
