body {
    margin: 0;
    padding: 0;
}

.headersidebar {
    display: flex;
}

.routecont {

    min-height: calc(100vh - 80px); /* Ensure route content takes up full height minus footer */
}

.post-box {
    margin-top: 20px;
    margin-left:300px;
}

footer {
    background-color: #6f58c9;
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #d3d3d3;
    position: relative;
    width: 100%;
    z-index: 10000;
}
footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #da3238; /* Red color on hover */
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #6f58c9;
    border-top: 2px solid #d3d3d3;
    padding: 10px 0;
    position: relative;
    margin-top: auto; 
}
