.policypage{
  padding:20px;
  margin-top:60px;
}
.policypage h1{
    margin-bottom:20px;
    text-align: center;
    margin-top:10px;
}
.policypage h2{
    margin-top:10px;
}
.policypage h3{
    margin-top: 10px;
}