body{
  background-color: whitesmoke;
  font-family: "mulish",'sans-serif','arial';
  overflow-x:hidden;
}
::-webkit-scrollbar{
  width:10px;
  z-index:1;
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: transparent;
  background-clip: content-box;
  border-radius: 20px;
  border: 2px solid transparent;
}
::-webkit-scrollbar-track{
  width: 4px;
  background:transparent;
}
.quill > .ql-container > .ql-editor.ql-blank::before{
  font-size: 12px;
  padding-left:10px;
  color: gray;
}