/* #da3238 - red
#d3d3d3-border-bottom
#6f58c9 - blue theme
*/
body{
    margin:0;
    padding:0;
}
.app-containter{
    display:flex;
}
.post-box{
    margin-left:300px;
    margin-top:20px;
    margin-right:17px;
}
.fade-enter{
    opacity:0;
}
.fade-enter-active{
    opacity:1;
    transition: opacity 300ms ease-in;
}

.fade-exit{
    opacity:1;
}
.fade-exit-active{
    opacity:0;
    transition: opacity 300ms ease-out;
}
