.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(49, 46, 46);
    align-items: center;
}

.profilebody {
    display:flex;
    flex-direction: row;
    margin: 100px 30px 0 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border: none;
    padding: 40px;
    background-color: white;
    border-radius:10px;
    justify-content: space-around;
    gap:10px;
    flex-wrap:wrap;

}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
}

.userimg {
    aspect-ratio: 1/1;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
}

.userdetails {
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: flex-start;
    min-width:200px;    
}

.infoby {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.info {
    background-color: rgba(240, 248, 255,0.8);
    padding: 15px 20px;
    border-radius: 5px;
    font-family: 'Mulish', 'sans-serif', 'arial';
    font-weight: 600;
    font-size: 0.9rem;
    color: black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
    width: 95%;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.navbuttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar button {
    background: none;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar button:hover {
    color: #6f58c9;
    transform: scale(1.1);
}

.navbar button.activeTab {
    border-bottom: 2px solid #6f58c9;
}

.tabContent {
    margin-top: 20px;
    width: 100%;
}

.content {
    text-align: left;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
